
$colorNegro: #000000;
$colorGrisLight: #353736c2;//8a8a8a
$colorGris: #585858;
$colorTexto: #ffffff;
$fuentePrincipal: "Roboto", sans-serif;

$imagenMainImpact: url('/assets/images/Impulsa-2.webp');
$imagenMainImpact2: url('/assets/images/Imagina.gif');
$imagenMainImpact3: url('/assets/images/Impresiona.gif');
$imagenApasionados: url('/assets/images/Solo-corazon-2.webp');
$imagenPersonas: url('/assets/images/Solo-personas.png');

$imagenInnovadores: url('/assets/images/Solo-ampolleta.gif');
$imagenInnovadores2: url('/assets/images/innovadores.gif');

$imagenVisionariosMain: url('/assets/images/Solo-binoculares.webp');
$imagenPersona: url('/assets/images/Solo-persona.webp');